<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 중심으로 근처 카페를 정보를 가져오려 합니다.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>앱 사용 및 사용자의 참여도 통게를 측정하기 위해 사용됩니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>커피/카페 사진을 추가하기 위해 카메라에 접근하고자 합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>GowunBatang-Bold.ttf</string>
		<string>GowunBatang-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
